{% extends 'base.html.twig' %}

{% block title%}Log in Admin {% endblock %}

{% block body %}
    <a href="/keenofarts" class="btn btn-info m-5">Retour</a>
    <div class="d-flex justify-content-center mt-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end (form) }}
    </div>


{% endblock %}
