{% extends 'base.html.twig' %}

{% block title%}Modifier Carte {% endblock %}

{% block body %}

    <h1>Modifier Capsule</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end (form) }}

{% endblock %}
